<div
  class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen h-screen lg:py-0"
>
  <div
    class="w-full rounded-lg shadow md:mt-0 sm:max-w-lg xl:p-0 bg-gray-800 bg-opacity-55 border-gray-700"
  >
    <div class="p-4 space-y-4 md:space-y-6 sm:p-8">
      <h1
        class="text-xl font-bold leading-tight tracking-tight md:text-2xl text-white"
      >
        Ingreso Especialistas
      </h1>
      <form class="max-w-md mx-auto" [formGroup]="loginForm">
        <div class="mb-5">
          <label for="email" class="block mb-2 text-sm font-medium text-gray-50"
            >Tu email</label
          >
          <input
            type="email"
            id="email"
            formControlName="email"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="usuario@email.com"
            required
          />
          <div class="h-[10px]">
            @if (loginForm.controls['email'].errors !== null &&
            loginForm.controls['email'].touched) { @if
            (loginForm.controls['email'].errors!['required']) {
            <label class="font-light mt-1 text-xs text-red-700" for="email"
              >Campo requerido</label
            >
            } @if (loginForm.controls['email'].errors!['email']) {
            <label class="font-light mt-1 text-xs text-red-700" for="email"
              >Ingrese email valido</label
            >
            } }
          </div>
        </div>
        <div class="mb-5">
          <label
            for="password"
            class="block mb-2 text-sm font-medium text-gray-50"
            >Tu contraseña</label
          >
          <input
            type="password"
            id="password"
            formControlName="password"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            required
          />
          <div class="h-[10px]">
            @if (loginForm.controls['password'].errors !== null &&
            loginForm.controls['password'].touched) { @if
            (loginForm.controls['password'].errors!['required']) {
            <label class="font-light mt-1 text-xs text-red-700" for="password"
              >Campo requerido</label
            >
            } @if (loginForm.controls['password'].errors!['minlength']) {
            <label class="font-light mt-1 text-xs text-red-700" for="password"
              >Ingrese minimo 6 caracteres</label
            >
            } }
          </div>
        </div>
        <div class="flex items-start mb-5">
          <p class="text-sm font-light text-gray-50">
            ¿Desea registrarse como especialista?
            <a
              routerLink="/register-specialist"
              class="font-bold text-primary-600 hover:underline text-primary-500"
              >Registrate acá</a
            >
          </p>
        </div>
        <button
          (click)="login()"
          class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        >
          Ingresar
        </button>
      </form>
    </div>
  </div>

  <div data-dial-init class="fixed bottom-6 start-6 group">
    <div
      id="speed-dial-menu-bottom-left"
      class="flex-col items-center hidden mb-4 space-y-2"
    >
      <!-- Segundo Usuario -->
      <button
        (click)="usuarioPrueba2()"
        type="button"
        data-tooltip-target="tooltip-user2"
        data-tooltip-placement="left"
        class="flex justify-center items-center w-[52px] h-[52px] text-gray-500 hover:text-gray-900 bg-white rounded-full border border-gray-200 dark:border-gray-600 shadow-sm dark:hover:text-white dark:text-gray-400 hover:bg-gray-50 dark:bg-gray-700 dark:hover:bg-gray-600 focus:ring-4 focus:ring-gray-300 focus:outline-none dark:focus:ring-gray-400"
      >
        <img
          class="w-full h-full rounded-full border object-cover"
          aria-hidden="true"
          src="https://firebasestorage.googleapis.com/v0/b/clinicaonline-ezequiel-melo.appspot.com/o/users%2FBaMdJeQTn7PXCpqqiBhR4IlaouC3%2FprofilePicture.jpg?alt=media&token=db3125aa-eef0-4c74-b55f-e30ed53c8353"
        />
        <span class="sr-only">María González</span>
      </button>
      <div
        id="tooltip-user2"
        role="tooltip"
        class="absolute z-10 invisible inline-block w-auto px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700"
      >
        Lucia Rivera
        <div class="tooltip-arrow" data-popper-arrow></div>
      </div>

      <!-- Primer Usuario (original) -->
      <button
        (click)="usuarioPrueba1()"
        type="button"
        data-tooltip-target="tooltip-user1"
        data-tooltip-placement="left"
        class="flex justify-center items-center w-[52px] h-[52px] text-gray-500 hover:text-gray-900 bg-white rounded-full border border-gray-200 dark:border-gray-600 shadow-sm dark:hover:text-white dark:text-gray-400 hover:bg-gray-50 dark:bg-gray-700 dark:hover:bg-gray-600 focus:ring-4 focus:ring-gray-300 focus:outline-none dark:focus:ring-gray-400"
      >
        <img
          class="w-full h-full rounded-full border object-cover"
          aria-hidden="true"
          src="https://firebasestorage.googleapis.com/v0/b/clinicaonline-ezequiel-melo.appspot.com/o/users%2FQvFo4zJhAzSGYOuox9kxZN8b7wC2%2FprofilePicture.jpg?alt=media&token=f5742072-61f4-4691-9a77-a903ba4dd032"
        />
        <span class="sr-only">Eduardo Rogelio</span>
      </button>
      <div
        id="tooltip-user1"
        role="tooltip"
        class="absolute z-10 invisible inline-block w-auto px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700"
      >
        Eduardo Rogelio
        <div class="tooltip-arrow" data-popper-arrow></div>
      </div>
    </div>

    <button
      type="button"
      data-dial-toggle="speed-dial-menu-bottom-left"
      aria-controls="speed-dial-menu-bottom-left"
      aria-expanded="false"
      class="flex items-center justify-center text-white bg-blue-700 rounded-full w-14 h-14 hover:bg-blue-800 dark:bg-blue-600 dark:hover:bg-blue-700 focus:ring-4 focus:ring-blue-300 focus:outline-none dark:focus:ring-blue-800"
    >
      <svg
        class="w-5 h-5 transition-transform group-hover:rotate-45"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 18 18"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M9 1v16M1 9h16"
        />
      </svg>
      <span class="sr-only">Open actions menu</span>
    </button>
  </div>
</div>
