<div class="flex flex-col items-center justify-center px-6 py-8 mx-auto min:h-screen lg:py-0 h-screen">
  <div class="w-full rounded-lg md:my-8 shadow sm:max-w-lg xl:p-0 bg-gray-800 bg-opacity-55 border-gray-700">
    <div class="flex flex-col p-4 space-y-4 md:space-y-6 sm:p-8 text-zinc-200 justify-center items-center">
      <p class="font-bold text-2xl text-center">Por favor, espere a que su cuenta sea aprobada por un administrador para
        poder acceder a todas las funcionalidades.</p>
    </div>
  </div>
</div>