<!-- Contenedor principal con gradiente de fondo -->
<div class="min-h-screen">
  <div class="flex flex-col items-center px-6 py-8 mx-auto lg:py-12">
    <!-- Contenedor principal con animación -->
    <div class="w-full max-w-7xl transition-all duration-500 transform">
      <div
        class="bg-white bg-opacity-95 backdrop-blur-sm rounded-3xl shadow-2xl border border-white border-opacity-50"
      >
        <!-- Header del contenido -->
        <div class="w-full md:space-y-6 sm:p-8">
          <app-appointments-overview-admin />
        </div>
      </div>
    </div>
  </div>
</div>
