<div>
  <table class="w-full text-sm text-left rtl:text-right text-gray-500">
    <thead
      class="text-xs uppercase bg-gray-50 text-gray-700 sticky top-0 z-[1]"
    >
      <tr>
        <th scope="col" class="px-3 py-2">Fecha del turno</th>
        <th scope="col" class="px-3 py-2 bg-gray-100">Mensaje</th>
        <th scope="col" class="px-3 py-2">Nombre del Paciente</th>
        <th scope="col" class="px-3 py-2 bg-gray-100">Especialidad</th>
        <th scope="col" class="px-3 py-2">Turno</th>
        <th scope="col" class="px-3 py-2 bg-gray-100">opciones del turno</th>
        <th scope="col" class="px-3 py-2">Historia Clínica</th>
        <th scope="col" class="px-3 py-2 bg-gray-100">Ver reseña</th>
      </tr>
    </thead>
    <tbody>
      @for (appointment of filteredAppointments; track $index) {
      <tr class="border-b bg-gray-50 border-gray-200 text-gray-900">
        <td class="px-3 py-2">
          @if (appointment.appointmentDate == null) { Sin Asignar }@else {
          {{
            appointment.appointmentDate
              ? (appointment.appointmentDate.toDate()
                | date : "dd/MM/yyyy HH:mm")
              : ""
          }}
          }
        </td>
        <td class="px-3 py-2 bg-gray-100">
          {{ appointment.message }}
        </td>
        <td class="px-3 py-2">
          {{ appointment.patientName }}
        </td>
        <td class="px-3 py-2 bg-gray-100">
          @if (appointment.speciality == null) { Sin Asignar }@else {
          {{ appointment.speciality }}
          }
        </td>
        <td class="px-3 py-2">
          <span
            [ngClass]="{
              'bg-green-100 text-green-800':
                appointment.appointmentStatus === 'Aceptado',
              'bg-yellow-100 text-yellow-800':
                appointment.appointmentStatus === 'Rechazado',
              'bg-red-100 text-red-800':
                appointment.appointmentStatus === 'Cancelado',
              'bg-blue-100 text-blue-800':
                appointment.appointmentStatus === 'Finalizado'
            }"
            class="px-3 py-1 rounded-full text-xs font-semibold"
          >
            {{ appointment.appointmentStatus }}
          </span>
        </td>
        <td class="px-3 py-2 gap-2 bg-gray-100">
          <button
            (click)="acceptAppointment(appointment)"
            [disabled]="!appointment.isCancelable"
            title="Aceptar turno"
            class="p-2 rounded-full bg-green-100 hover:bg-green-200 text-green-700 disabled:bg-gray-200 disabled:text-gray-400"
          >
            ✅
          </button>
          <button
            (click)="rejectAppointment(appointment)"
            [disabled]="!appointment.isCancelable"
            title="Rechazar turno"
            class="p-2 rounded-full bg-yellow-100 hover:bg-yellow-200 text-yellow-700 disabled:bg-gray-200 disabled:text-gray-400"
          >
            ❌
          </button>
          <button
            (click)="cancelAppointment(appointment)"
            [disabled]="!appointment.isCancelable"
            title="Cancelar turno"
            class="p-2 rounded-full bg-red-100 hover:bg-red-200 text-red-700 disabled:bg-gray-200 disabled:text-gray-400"
          >
            🛑
          </button>
        </td>
        <td class="px-3 py-2 b">
          @if(appointment.idMedicalReport != null) {
          <button
            type="button"
            (click)="showHealthRecordModal(appointment.idMedicalReport)"
            class="w-full bg-purple-600 hover:bg-purple-700 text-white font-medium rounded-full text-sm px-3 py-2 transition"
          >
            Ver Historia
          </button>
          } @else {
          <span class="text-gray-400 text-sm">No disponible</span>
          }
        </td>
        <td class="px-3 py-2 bg-gray-100">
          @if(appointment.appointmentStatus == 'Aceptado') {
          <button
            type="button"
            (click)="
              showCreateReviewModal(
                appointment.id,
                appointment.idPatient,
                appointment.idSpecialist
              )
            "
            class="py-2.5 px-5 me-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-full border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"
          >
            Cargar Reseña
          </button>
          }@else if(appointment.appointmentStatus == 'Completado'){
          @if(appointment.idReviewForSpecialist != null) {
          <button
            type="button"
            (click)="showReviewModal(appointment.idReviewForSpecialist)"
            class="py-2.5 px-5 me-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-full border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"
          >
            Ver reseña
          </button>
          }@else if(appointment.idReviewForSpecialist == null) { Aún no
          disponible } }
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>

@if (isReviewModalOpen) {
<app-review-overview
  [review]="review"
  (eventCloseModal)="closeReviewModal($event)"
></app-review-overview>

} @if (isCreateReviewModalOpen) {
<app-health-record-create
  [appointmentId]="AppointmentId"
  [AppointmentIdPatient]="AppointmentIdPatient"
  [AppointmentIdSpecialist]="AppointmentIdSpecialist"
  (eventCloseModal)="closeCreateReviewModal($event)"
></app-health-record-create>
}

<!-- Modal de Historia Clínica -->
@if (isHealthRecordModalOpen) {
<app-health-record-overview
  [healthRecord]="healthRecord"
  (eventCloseModal)="closeHealthRecordModal($event)"
></app-health-record-overview>
}
