<div class="mb-4 flex flex-col justify-center">
  <h1 class="text-center mt-2 text-3xl font-semibold text-black">
    Pedir nuevo turno
  </h1>
  <form
    class="max-w-md flex flex-col mx-auto"
    [formGroup]="newAppointmentForm"
    (ngSubmit)="onSubmit()"
  >
    <div class="relative z-0 w-full mb-5 group">
      <label
        for="healthcare-system"
        class="block mb-2 text-sm font-medium text-gray-400"
        >Seleccione especialidad</label
      >
      <select
        formControlName="specialty"
        id="specialty"
        class="bg-gray-300 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      >
        <option value="" selected disabled>Selecciona una especialidad</option>
        @for (specialty of specialtys; track $index) {
        <option value="{{ specialty }}">{{ specialty }}</option>
        }
      </select>
      <div class="h-[10px]">
        @if (newAppointmentForm.controls['specialty'].invalid &&
        newAppointmentForm.controls['specialty'].touched) {
        <label class="font-medium mt-1 text-xs text-red-700" for="specialty"
          >Por favor selecciona una especialidad</label
        >
        }
      </div>
    </div>
    <div class="relative z-0 w-full mb-5 group">
      <label
        for="specialistName"
        class="block mb-2 text-sm font-medium text-gray-400"
        >Seleccione un profesional</label
      >
      <select
        formControlName="specialistName"
        id="specialistName"
        (change)="onSpecialistChange($event)"
        class="bg-gray-300 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      >
        <option value="" selected disabled>Selecciona al profesional</option>
        @for (specialist of specialists; track $index) {
        <option class="text-black" value="{{ specialist.id }}">
          {{ specialist.name }} {{ specialist.lastName }}
        </option>
        }
      </select>
      <div class="h-[10px]">
        @if (newAppointmentForm.controls['specialistName'].invalid &&
        newAppointmentForm.controls['specialistName'].touched) {
        <label
          class="font-medium mt-1 text-xs text-red-700"
          for="specialistName"
          >Por favor seleccione un especialista</label
        >
        }
      </div>
    </div>

    <div class="relative z-0 w-full mb-5 group">
      <label
        for="availableDays"
        class="block mb-2 text-sm font-medium text-gray-400"
      >
        Seleccione un día disponible
      </label>
      <select
        id="availableDays"
        formControlName="selectedDay"
        (change)="onDayChange($event)"
        class="bg-gray-300 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      >
        <option value="" selected disabled>Seleccione un día</option>
        @for (day of schedule; track $index) {
        <option [value]="$index">
          {{ day.date.toString() | date : "fullDate" }}
        </option>
        }
      </select>
      <div class="h-[10px]">
        @if (newAppointmentForm.controls['selectedDay'].invalid &&
        newAppointmentForm.controls['selectedDay'].touched) {
        <label class="font-medium mt-1 text-xs text-red-700" for="selectedDay"
          >Por favor seleccione un dia</label
        >
        }
      </div>
    </div>

    <div class="relative z-0 w-full mb-5 group">
      <label
        for="selectedSlot"
        class="block mb-2 text-sm font-medium text-gray-400"
      >
        Seleccione un horario
      </label>
      <select
        id="selectedSlot"
        formControlName="selectedSlot"
        class="bg-gray-300 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      >
        <option value="" selected disabled>Seleccione un horario</option>
        @for (slot of selectedDaySlots; track $index) {
        <option [value]="$index">
          <li>{{ slot }}</li>
        </option>
        }
      </select>
      <div class="h-[10px]">
        @if (newAppointmentForm.controls['selectedSlot'].invalid &&
        newAppointmentForm.controls['selectedSlot'].touched) {
        <label class="font-medium mt-1 text-xs text-red-700" for="selectedSlot"
          >Por favor seleccione un horario</label
        >
        }
      </div>
    </div>

    <button
      type="submit"
      class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
    >
      Solicitar turno
    </button>
  </form>
</div>
