<div class="flex flex-col items-center px-6 py-8 mx-auto lg:py-0">
  <h1 class="text-center mt-5 text-5xl font-semibold text-white">Mis Turnos</h1>

  <!-- Tabs -->
  <div
    class="flex space-x-2 mt-4 bg-white bg-opacity-80 p-1 rounded-lg shadow-lg"
  >
    <button
      type="button"
      [class.bg-blue-600]="activeView === 'overview'"
      [class.text-white]="activeView === 'overview'"
      [class.bg-transparent]="activeView !== 'overview'"
      [class.text-gray-800]="activeView !== 'overview'"
      class="px-5 py-2 rounded-md font-medium transition-all duration-200 hover:bg-blue-500 hover:text-white"
      (click)="toggleView('overview')"
      (click)="setActiveView('overview')"
    >
      Pedir turno
    </button>

    <button
      type="button"
      [class.bg-blue-600]="activeView === 'request'"
      [class.text-white]="activeView === 'request'"
      [class.bg-transparent]="activeView !== 'request'"
      [class.text-gray-800]="activeView !== 'request'"
      class="px-5 py-2 rounded-md font-medium transition-all duration-200 hover:bg-blue-500 hover:text-white"
      (click)="toggleView('request')"
      (click)="setActiveView('request')"
    >
      Ver turnos
    </button>
  </div>

  <!-- Contenedor -->
  <div
    class="w-full flex flex-row mt-6 mb-10 justify-center rounded-lg shadow-lg sm:max-w-6xl xl:p-0 bg-white bg-opacity-55 border border-gray-300"
  >
    <div class="p-6 w-full space-y-4 min-h-[30rem] rounded-lg">
      @if (showAppointmentRequest) {
      <app-appointments-overview />
      } @else {
      <app-appointment-request />
      }
    </div>
  </div>
</div>
